.el-table {
    a {
        color: #1188ff;
        cursor: pointer;
    }
    div.cell {
        font-weight: normal;
        line-height: 20px;
        
        &:first-child {
            padding-left: 40px;
        }
    }
    &.table-empty-back{
        background-color: #F7F8FC;
        border-bottom: none;

        &::before{
            height: 0;
        }
    }
}
